name: test

on:
  push:
    branches:
      - '*'

jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 5
    # ---- DOTNET TOOLS RESTORE ---- #

    - name: Restore Dotnet Tools Cache
      id: cache-tools-restore
      uses: actions/cache/restore@v4
      with:
        path: |
          ~/.nuget
        key: ${{ runner.os }}-dotnet-${{ hashFiles('**/.config/dotnet-tools.json') }}

    - name: Restore Dotnet Tools
      run: dotnet tool restore

    - name: Save Dotnet Tools Cache
      id: cache-tools-save
      uses: actions/cache/save@v4
      with:
        path: |
          ~/.nuget
        key: ${{ steps.cache-tools-restore.outputs.cache-primary-key }}

    - name: tests
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        dotnet fsy -v run --force tests/test.fsx
        dotnet fsy -v run --force tests/test-json.fsx
        dotnet fsy -v run --force tests/ci/test-last-success-sha.fsx
